/* Responsive Text */
@media (max-width: 990px) {
  .hero-contents {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .client_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .topbar {
    display: none;
  }
}
/* Responsive Text */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }
  footer {
    text-align: center;
  }
}
