:root {
  --primary-color: #4caf50; /* Example primary color */
  --primary-color-section-bg: #4caf507d; /* Example primary color */
  --bg-color: #f4f4f4; /* Example background color */
}
a {
  text-decoration: none;
}

/* Top bar Start */
.topbar {
  background-color: black;
  padding: 5px 0px;
}
.topbar a {
  color: #fff;
  font-size: 14px;
}

.topbar a > i {
  color: var(--primary-color);
}

/* Top bar End */

/* Navbar Start*/
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar-brand img {
  height: 50px;
  /* Adjust logo size */
}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent a.nav-link {
  color: black !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent a.nav-link:hover,
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent a.nav-link.active {
  color: var(--primary-color) !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  background-color: #000000e0 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.scrolled a.nav-link {
  color: #fff !important;
}

.navbar-collapse {
  flex-basis: 100% !important;
  flex-grow: 1;
  align-items: center;
}
.toggleHamburger {
  color: var(--primary-color);
  font-size: 2rem;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.navbar a.nav-link {
  font-weight: 600;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.scrolled.fixed-top
  a.nav-link:hover {
  color: var(--primary-color) !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.scrolled.fixed-top
  a.nav-link.active {
  color: var(--primary-color) !important;
}

.dropdown-item:hover {
  color: var(--primary-color) !important;
}
/* Navbar End*/

/*  Hero section Start */
#hero {
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}
.welcomeTitle {
  color: rgba(0, 128, 0, 0.315);
}
.divider {
  padding: 1rem 0px;
}
.divider-separetor {
  border-top: 4px solid var(--primary-color);
  width: 26%;
  border-radius: 25%;
}
.hero-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

/*  Hero section End */

/* Our Services Start  */

.service-section {
  padding: 60px 0;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  /* height: 100vh; */
  background-color: var(--primary-color-section-bg);
}

.service-box {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid transparent;
  transition: transform 0.4s ease;
  padding: 20px;
}
.service-box:hover {
  background: transparent
    linear-gradient(130deg, var(--primary-color) 0%, #2aa2ff00 42%) 0% 0%
    no-repeat padding-box;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 15px 15px 6px 6px !important;
  background-color: white !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
  margin-top: 15px;
}

svg {
  width: 60px;
  height: 60px;
  /* fill: black; */
  transition: transform 0.3s;
}

.service-box:hover svg {
  /* fill: var(--primary-color); */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
/* Projects Start*/
#projects {
  padding: 60px 0;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Projects End*/
/* Service Domain */
.protfolio-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  border-bottom: 5px solid transparent;
  transition: transform 0.4s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.protfolio-card:hover {
  background: transparent
    linear-gradient(130deg, var(--primary-color) 0%, #2aa2ff00 42%) 0% 0%
    no-repeat padding-box;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 15px 15px 6px 6px !important;
  background-color: white !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.protfolio-title {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.portfolio-section {
  padding: 60px 0;
  background-image: url("../images/dots-vector-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  /* height: 100vh; */
  background-color: var(--primary-color-section-bg);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolio-overlay p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.portfolio-overlay .btn {
  background-color: #28a745;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.portfolio-overlay .btn:hover {
  background-color: var();
}
/* Mind Section */

.mind {
  padding: 60px 0px;
  background-color: #000000e0 !important;
  color: #fff;
  text-align: center;
}

.letsTalk {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  padding: 0.4em 1.5em 0.4em 1em;
  border-left: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  overflow: hidden;
}

.letsTalk::before,
.letsTalk::after {
  content: "";
  position: absolute;
  background-color: #fff;
  transition: width 0.3s ease;
}

.letsTalk::before {
  top: 0;
  left: 0;
  height: 1px;
  width: 30%;
}

.letsTalk::after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 30%;
}

.letsTalk:hover::before,
.letsTalk:hover::after {
  width: 100%;
}

.letsTalk:hover {
  border-right: 1px solid #fff;
}

/* Client  Section*/

.client_list {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.client {
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  padding: 20px; /* Padding around each client */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.client:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

/* Optional: Add animation for entrance */
.client {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards; /* Animation when the element comes into view */
}

img.client-image {
  height: 80px !important;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* # Team Section  */
#myTeam {
  padding: 60px;
  background-image: url("/assets/images/dots-vector-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: var(--primary-color-section-bg); */
}
.team_head {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}
.team-card {
  background-color: #14253c;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--primary-color);
  /* Twitter blue */
}

#contacts {
  background-image: url("/assets/images/dots-vector-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0px;
}
.sectionDesign {
  background-color: #14253c;
  border-radius: 15px;
  padding: 20px;
  /* text-align: center; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  color: #fff;
}

#contacts label {
  margin-bottom: 10px;
}

#about {
  padding: 60px 0px;
}

footer {
  background-color: #343a40;
  /* Dark background */
}

footer a:hover {
  text-decoration: underline;
}
